<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Vehicle</title>
  </head>
  <body>
    <h2>Add a vehicle</h2>
    <form action="/vehicles/add" method="POST">
      <label for="vin">VIN:</label>
      <input type="text" name="vin"><br>
      <label for="make">Make:</label>
      <input type="text" name="make"><br>
      <label for="model">Model:</label>
      <input type="text" name="model"><br>
      <label for="year">Year:</label>
      <input type="text" name="year"><br><br>
      <button type="submit" name="add-btn">Submit</button>
    </form>
  </body>
</html>
